
/* nav items styling */
.nav-item {
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
}

.list-items {
  width: 750px;
  margin: 0 auto;
  list-style: none;
  display: flex;
  align-items: center;
}

div li {
  float: left;
  display: block;
  text-align: center;
  width: 200px;
  text-decoration: none;
  margin: 40px auto 0 auto;
}

.navbar-logo {
  margin: 10px 90px 0 80px;
  width: 90px;
  height: 100px;
  float: left;
  display: block;
  text-align: center;
}

.joinUs {
  margin: 35px 0 0 200px;
  width: 90px;
  float: left;
  display: fixed;
  text-align: center;
  text-decoration: none;
}

.dropdown {
  padding: 10px;
  display: flex;
  margin: 5px 0 3px 100px;
  width: 80%;
  align-items: center;
  position: relative;
}

.img1,
.img2{
  height: 30px;
}

.blueicon {
  margin: 2px 29px;
}

.yellowicon {
  margin: -25px -68px;
}


.yellowicon-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.blueicon-container {
  display: none;
  cursor: pointer;
}

.icon-container {
  display: flex;
}

.dropdown:hover {
  /* border-radius: 10px; */
  background: rgba(199, 199, 199, 1);
  /* align-items: center;
  height: 60%;
  width: 80%;
  margin: 5px -879px 3px 49px;
  transform: scale(1.2); */
}

.dropdown:hover .yellowicon-container {
  display: none;
}

.dropdown:hover .blueicon-container {
  display: flex;
  align-items: center;
}

/* frame styling */

.container {
  margin: 20px;
}

.section1 {
  /* background-color: #f5f5f5; */
  border-radius: 30px;
  margin: 10% 5%;
  padding: 30px 0;
}

.heading1 {
  text-align: left;
  font-size: 50px;
}

.frameP {
  text-align: left;
  padding: 20px 0;
  font-size: 20px;
}

.girl_file_search {
  height: 400px;
  width: 300px;
  position: right;
  margin: -20% 0 0 55%;
}

.section2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3);
  gap: 40px;
  margin: 150px 250px;
}

.card1 {
  width: 300px;
  height: 300px;
  color: white;
  background-color: #1d2545;
  border-radius: 30px;
  padding: 30px;
  transition: all 0.5s ease;
}

.button2 {
  width: 95px;
  height: 50px;
  margin: -70px 0 -700px 0;
  background-color: #2f4f9d;
  padding: 10px;
  color: white;
  border: 1px solid rgba(29, 37, 69, 1);
  border-radius: 15px;
  cursor: pointer;
}

.button2:hover {
  background-color: transparent;
  color: #2f4f9d;
}

.card2 {
  width: 300px;
  height: 300px;
  color: white;
  background-color: #c7c7c7;
  border-radius: 30px;
  padding: 30px;
  margin: 0 0 0 20px;
  transition: all 0.5s ease;
}

.card1:hover,
.card2:hover {
  transform: scale(1.1);
}

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 100px;
  background-color: #2f4f9d;
  margin: 20px auto; /* Set auto for left and right margins */
  padding: 30px;
  border-radius: 20px;
}

.section3 p,
.section3 h3 {
  margin: 0; /* Remove default margins on the paragraphs and headings */
  color: white; /* Set text color */
}

.section4 {
  width: 90%;
  height: 80px;
  background-color: #2f4f9d;
  margin: 20px auto; /* Set auto for left and right margins */
  padding: 30px;
  border-radius: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3);
  gap: 40px;
  margin: 150px 250px;
}

.grid-item {
  width: 300px;
  height: 300px;
  color: white;
  background-color: #1d2545;
  border-radius: 30px;
  padding: 30px;
  transition: all 0.5s ease;
}

.different-color {
  width: 300px;
  height: 300px;
  color: white;
  background-color: #c7c7c7;
  border-radius: 30px;
  padding: 30px;
  margin: 0 0 0 20px;
  transition: all 0.5s ease;
}

.grid-btn {
  margin: 30px 40px 8px -2px;
  width: 95px;
  height: 50px;
  /* margin: -70px 0 -700px 0; */
  background-color: #2f4f9d;
  padding: 10px;
  color: white;
  border: 1px solid rgba(29, 37, 69, 1);
  border-radius: 15px;
  cursor: pointer;
}
.grid-btn:hover {
  background-color: transparent;
  color: white;
  border: 1px solid #2f4f9d;
  font-weight: 900;
}

.grid-item:hover,
.different-color:hover {
  transform: scale(1.1);
  font-weight: 800;
}

.grid-container1 {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  /*  Adjust the max-width as needed */
  margin: 150px 324px;
}

.grid-item1 {
  background-color: #f5f5f5;
  padding: 40px;
  border-radius: 29px;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  height: 200px;
  width: 300px;
  max-width: 600px;
}

.grid-item1:hover {
  transform: scale(1.1);
}

h3 {
  margin: -1px 24px 3px -735px;
}

h4 {
  font-size: 40px;
}

hr {
  border: 1px solid #a6a6a6;
  margin: 0 30px 0 30px;
}

footer {
  width: 100%;
  padding: 10px;
}

/* Join Us Stylig */

.get-started {
  display: inline-block; /* Change the display property */
  margin: 3% auto; /* Center horizontally, adjust the top margin as needed */
  border: 1px solid rgba(29, 37, 69, 1); /* Specify the border style and color */
  height: 50px;
  width: 250px;
  background-color: rgba(29, 37, 69, 1);
  color: white;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
}

.get-started:hover {
  background-color: transparent;
  color: rgba(29, 37, 69, 1);
}



.section4 p {
  margin: -40px 24px 3px 772px;
  background-color: aliceblue;
  width: 250px;
  height: 50px;
  padding: 15px;
  border-radius: 30px;
}

.section7{
  text-align: center;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  font-weight: bolder;
  font-size: 20px;
}

tr {
  font-size: 14px;
}

.down-arrow {
  width: 20px;
  height: 20px;
  margin: -5px 0;
}

.underline-input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #000; 
  outline: none;
  font-size: 13px; 
  padding: 10px 0; 
  background: transparent;
}

/* JOINUS PAGE */
.cornerimage {
  background: rgba(29, 37, 69, 1);
  height: 550px;
  width: 25%;
  margin: 0 75%;
}

.container-card {
  margin: -491px 150px;
  width: 600px;
  height: 500px;
  background-color: #dedede;
  border: #c7c7c7;
  border-radius: 5%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.formDetails {
  text-align: left;
  padding: 10px 60px;
  font-size: 13px;
}

.continue-btn {
  display: inline-block; 
  margin: 30px 170px; 
  border: 1px solid rgba(29, 37, 69, 1); 
  height: 50px;
  width: 250px;
  background-color: rgba(29, 37, 69, 1);
  color: white;
  text-align: center;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  border-radius: 20px;
}

.continue-btn:hover {
  background-color: transparent;
  color: rgba(29, 37, 69, 1);
}

.forms {
  padding: 5px;
}

@media (max-width: 200px) {
  .joinUs-Page {
    width: 100%;
  }

  .cornerimage {
  }

  .joinusImg {
  }

  .container-card {
    width: 10%;
  }
}

@media (max-width: 991px) {
  .joinUs-Page {
    width: 66%;
  }

  .cornerimage {
  }

  .joinusImg {
  }

  .container-card {
    width: 100%;
    margin: -491px 30px;
  }
}

@media (max-width: 600px) {
  .joinUs-Page {
    width: 100%;
  }

  .cornerimage {
  }

  .joinusImg {
  }

  .container-card {
    width: 10%;
  }
}
